<div class="spinner" *ngIf="isLoading" >
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">

    <div class="py-4">
        <!-- Registeration Form -->
        <form (ngSubmit)="onSubmit()" #f="ngForm" >

            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            
            <!-- Username -->
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fa fa-user text-muted"></i>
                    </span>
                </div>
                <input type="email" id="email" value="" placeholder="Email" class="form-control bg-white" ngModel
                    name="email" email required>
            </div>

            <!-- Password -->
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white ">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                </div>
                <input id="password" type="password" name="password" placeholder="Password"
                    class="form-control bg-white" ngModel required #password="ngModel">
            </div>


            <!-- Terms and conditions -->
            <div class="input-group">
                <div class="input-group-prepend col-lg-9">
                        <label style="margin-right: 5px;">
                            <input type="checkbox" name="terms" ngModel value="terms">
                        </label>
                         Remember me
                </div>
            <!-- Submit Button -->
            <div class="input-group-prepend">
                <button class="btn btn-primary" style="background-color: lightgreen; border: transparent" type="submit"
                [disabled]="!f.valid">Sign in</button>
            </div>
              
            </div>






        </form>
    </div>
</div>